/models
/models/errors
/types
/node_modules
/examples/node_modules
/lib
/sdk
/funcs
/react-query
/mcp-server
/hooks
/index.*
/core.*
/bin
/cjs
/esm
/.tsbuildinfo
/.eslintcache
/.tshy
/.tshy-*
/__tests__
.DS_Store
**/.speakeasy/temp/
**/.speakeasy/logs/
.DS_Store
/.speakeasy/reports
.env
.env.local
.env.*.local
node_modules
/dist
